<main>
   <section>
      <h2>Pizza</h2>
      <br>

      <app-accordion *ngFor="let item of items" [title]='item.name' [isOpen]='openItemId === item.itemId'
                     (onAccordionToggle)="toggleCollapse(item.itemId)">
         <ul [attr.aria-hidden]='openItemId === item.itemId'>
            <li *ngFor="let size of itemSizes">
               <label>
                  <input type="checkbox" [checked]="findPrices(item, size) !== 0"
                         (change)="toggleSize(item.itemId, size.sizeId, $event)" name="size"
                         [attr.aria-label]='"Selected " + size.name.toLowerCase() + " size."'>
                  {{ size.name }}
               </label>

               <div class="form-field">
                  <span class="prefix">&dollar;</span>
                  <input type="number" step="0.1" min="1" max="100" [value]="findPrices(item, size)"
                         [disabled]="findPrices(item, size) === 0"
                         (input)="updatePrice(item.itemId, size.sizeId, $event)" name="price"
                         [attr.aria-label]="'Price for ' + size.name.toLowerCase() + ' pizza'">
               </div>
            </li>
         </ul>
         <button class="undo-button" title="Undo changes" aria-label="Undo changes" *ngIf="changesMade[item.itemId]" (click)="undoChanges(item.itemId)">
            &circlearrowleft;
         </button>
      </app-accordion>
   </section>
</main>
