@import "./theme/checkbox";

* { box-sizing: border-box }

html, body, h1, h2, h3, p, ul {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-weight: 500;
}

section {
   width: 100%;
}

// Due to component encapsulation
.menu-variation:not(.open) .undo-button {
   margin-bottom: 5px;
}

.mirrored {
   transform: rotate(180deg);
}
